In [1]:
my_list_1 = [1, 2, 3, 4]
type(my_list_1)

list

In [2]:
my_list_1

[1, 2, 3, 4]

In [3]:
my_list_2 = [
    1,
    2.4,
    'a string',
    ['a string in another list', 5],
]

In [4]:
my_list_2

[1, 2.4, 'a string', ['a string in another list', 5]]

In [5]:
my_str = 'A string.'
list(my_str)

['A', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

In [6]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [7]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
2.4 in my_list_2 # Membership operator

True

In [9]:
'a string in another list' in my_list_2

False

In [10]:
7 not in my_list_2

True

In [13]:
codon = 'UGG'

start_codon = 'AUG'
stop_codons = ['UAA', 'UAG', 'AGA']

if codon == start_codon:
    print('This is the start codon.')
elif codon in stop_codons:
    print('This is a stop codon.')
else:
    print('This is neither a start nor stop codon.')

This is neither a start nor stop codon.

In [14]:
my_list = [1, 2.4, 'a string', ['a string in another list', 5]]

In [15]:
my_list

[1, 2.4, 'a string', ['a string in another list', 5]]

In [16]:
my_list[0]

1

In [17]:
my_list[3][1]

5

In [18]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # an illustrative list

In [19]:
my_list[0]

0

In [20]:
my_list[4]

4

In [21]:
my_list[-1]

10

In [23]:
my_list[-2]

9

In [25]:
my_list[0:5] # slicing

[0, 1, 2, 3, 4]

For slicing, the start is inclusive and the stop is exclusive.

In [26]:
my_list[0:1000]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
my_list[0:-3]

[0, 1, 2, 3, 4, 5, 6, 7]

In [28]:
my_list[0::2]

[0, 2, 4, 6, 8, 10]

In [29]:
my_list[1::2]

[1, 3, 5, 7, 9]

In [30]:
my_list[::2]

[0, 2, 4, 6, 8, 10]

In [31]:
my_list[::2]

[0, 2, 4, 6, 8, 10]

In [32]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
evens_without_end_values = my_list[::2][1:-1]

evens_without_end_values

[2, 4, 6, 8]

Usually don't use 3 numbers in your slicing. It's confusing.

In [37]:
evens = my_list[::2]
evens_without_end_values = evens[1:-1]

evens_without_end_values

[2, 4, 6, 8]

# Mutability

In [38]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
my_list[4] = 'four'

In [40]:
my_list

[0, 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [44]:
a = 3252
print(id(a))

a = 3253
print(id(a))

4611754512
4611753264

a has type integer. Integers are immutable.

In [45]:
id(my_list)

4602536176

In [46]:
my_list[0] = 'zero'

In [47]:
id(my_list)

4602536176

In [48]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 8, 10]
my_list_2 = my_list

my_list[0] = 'a'

In [49]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 8, 10]

In [50]:
my_list_2

['a', 1, 2, 3, 4, 5, 6, 7, 8, 8, 10]

In [53]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list[:] # Slice all entries -- slicing creates a copy in a new part of memory

my_list[0] = 'a'

In [54]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Tuples are immutable.**

In [56]:
my_tuple = tuple(my_list)

In [57]:
my_tuple

('a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [58]:
my_tuple[4] = 'four'

TypeError: 'tuple' object does not support item assignment

In [59]:
my_tuple = (0, 1, 2, 3, 4, 5)

In [60]:
my_list = [7]
type(my_list)

list

In [61]:
my_tuple = (7)
type(my_tuple)

int

In [62]:
# Need to add comma to explicitly create a tuple instead of arithmetic parens
my_tuple = (7,)
type(my_tuple)

tuple

It's good practice to use the end comma for lists as well.

In [63]:
my_tuple = (0, 1, 2, 3, 4 ,5)

In [64]:
my_tuple[::-1]

(5, 4, 3, 2, 1, 0)

In [65]:
my_tuple + (6, 7, 8, 9, 10)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [66]:
3 in my_tuple

True

In [67]:
my_tuple = (1, 2, 3)

In [68]:
a, b, c = my_tuple # Multiple assignment

In [69]:
a

1

In [70]:
b

2

In [71]:
c

3

This is called tuple unpacking.

For beginners, use tuples (unless you really need to be able to change something). Mutability can come back to bite you.

In [73]:
%load_ext watermark
%watermark -v -p jupyterlab

CPython 3.7.7
IPython 7.13.0

jupyterlab 1.2.6