# Types

In [1]:
2

2

In [2]:
type(2)

int

In [3]:
type(2.3)

float

In [4]:
type('Hello, world.')

str

In [5]:
type(4.5e-7)

float

In [8]:
2.3 + 'Hello world'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [9]:
'Hello, world.'

'Hello, world.'

In [10]:
"Hello, world."

'Hello, world.'

In [11]:
"Lealia's string"

"Lealia's string"

In [12]:
'''My string'''

'My string'

In [13]:
"""My string"""

'My string'

In [19]:
print("""It was the best of times,
it was the worst of times...""")

It was the best of times,
it was the worst of times...

# Arithmetic operators

In [20]:
2 + 3

5

In [22]:
2 - 3

-1

In [23]:
2 * 3

6

In [24]:
type(2 * 3)

int

In [25]:
2 / 3

0.6666666666666666

In [26]:
type(2 / 3)

float

In [27]:
2 // 3 # Floor divide

0

In [28]:
2 % 3 # Modulo

2

In [29]:
2^3

1

In [30]:
10^200

194

^ is a bitwise exclusive OR, not exponent!

In [31]:
2**3 # Exponent

8

In [32]:
2.1 + 3.2

5.300000000000001

This is due to floating point precision.

In [33]:
5.3 - (2.1 + 3.2)

-8.881784197001252e-16

Be careful when comparing floats.

In [34]:
2.1 / 0

ZeroDivisionError: float division by zero

In [35]:
'Hello, ' + 'world.'

'Hello, world.'

In [36]:
'Hello, ' - 'world.'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
1 + 4 ** 2

17

Order of operations:

1. Raise to power
2. Multiplication/division/floor division/modulo
3. Plus/minus

You can use parentheses (but not braces and brackets) to control the order of operations.

In [38]:
1**3 + 2**3 + 3**3 + 4**3

100

In [39]:
(1 + 2 + 3 + 4)**2

100

In [40]:
'Hello, world.'*3

'Hello, world.Hello, world.Hello, world.'

In [41]:
a = 2 # Assignment
b = 3

a + b

5

In [42]:
type(a), a

(int, 2)

In [43]:
a = a + 4.1
type(a), a

(float, 6.1)

In [44]:
a = 2
a += 4.1 # Increment

a

6.1

In [45]:
my_str = '3252'
my_int = int(my_str)

type(my_int), my_int

(int, 3252)

In [46]:
my_str_2 = 'hello'
my_int_2 = int(my_str_2)

ValueError: invalid literal for int() with base 10: 'hello'

In [47]:
float(6)

6.0

In [48]:
int(2.9)

2

This doesn't round, it truncates the decimal.

# Relational operators

In [1]:
5 = 5

SyntaxError: can't assign to literal (<ipython-input-1-fd606e25f666>, line 1)

In [2]:
5 == 5

True

In [3]:
5 == 4

False

In [4]:
a = 3252
b = 3252

a == b

True

But a and b are not the same variable. They are stored in different parts of memory. They have the same **value**, which is what the comparison operator is checking.

In [6]:
id(a)

4543014672

In [7]:
id(b)

4543016496

In [8]:
type(True) # True is a reserved keyword, so it is shown in bold in Jupyter notebook

bool

In [9]:
type(False)

bool

In [10]:
5.3 == 5.3

True

In [11]:
5.3 == 2.1 + 3.2

False

In [12]:
4 < 5

True

In [13]:
4 > 5

False

In [14]:
5.7 <= 3

False

In [15]:
'michael jordan' > 'lebron james'

True

In [16]:
ord('a')

97

In [17]:
ord('m')

109

In [18]:
ord('l')

108

For string comparisons, it looks at the Unicode number for each character and compares those 1 by 1.

In [19]:
'lebron' == 'lebron'

True

In [20]:
'lebron' == 'lebron james'

False

In [21]:
'AGTCACAGTA' == 'AGTCACGCA'

False

In [22]:
4 < 6 < 6.1 < 9.3

True

In [23]:
4 < 6.1 < 6 < 0.3

False

In [24]:
4 < 6.1 > 5

True

In [25]:
4 < 6.1 > 3

True

Don't mix the direction of relational operators--it's confusing because 4 and 3 are not compared.

# Identity operators

In [26]:
a = 2

a is a

True

In [27]:
a = 3252
b = 3252

a is b

False

a and b have the same value but are different variables. "is" checks if they are stored in the same place in memory.

In [30]:
a == b # Here we are comparing the values

True

In [29]:
a is not b # Here we are comparing the variables

True

# Logical operators

"and", "or", and "not". Only work on boolean data types.

In [32]:
True and True

True

In [33]:
True and False

False

In [35]:
(2 + 2 == 4) and (2 + 2 == 5)

False

In [38]:
(2 + 2 == 4) or (2 + 2 == 5)

True

In [39]:
not False and True

True

In [40]:
not (not False and True)

False

In [44]:
4 != 5

True

In [45]:
# Note we don't actually need the parentheses above

2 + 4 == 6 and 5 + 2 == 7

True

Precedence:

1. Raise to power
2. Multiplication/division/floor division/modulo
3. Plus/minus
4. Relational operators
5. Logical operators

You can use parentheses (but not braces and brackets) to control the order of operations.

In [46]:
True + True

2

True is 1, False is 0. Doing arithmetic with them converts them to int.

# Conditionals
A conditional tells your computer to do something if a Boolean is True

In [51]:
codon = 'AUG'

if codon == 'AUG':
    print('This is the start codon.')
    print('Same level of indentation, so still evaluated.')

This is the start codon.
Same level of indentation, so still evaluated.

In [52]:
codon = 'CUG'

if codon == 'AUG':
    print('This is the start codon.')
    print('Same level of indentation, so still evaluated.')

In [59]:
codon = 'AUG'

if codon == 'AUG':
    print('This is the start codon.')
else:
    if codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
        print('This is a stop codon.')
    else:
        print('This is neither the start nor stop codon.')

This is the start codon.

In [61]:
codon = 'UAA'

if codon == 'AUG':
    print('This is the start codon.')
elif codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
    print('This is a stop codon.')
else:
    print('This is neither a start nor stop codon.')

This is a stop codon.

In [62]:
%load_ext watermark
%watermark -v -p jupyterlab

CPython 3.7.7
IPython 7.13.0

jupyterlab 1.2.6